body {
    background-color: #444;
    color: gainsboro;
    font-family: sans-serif;
    margin: 0px;
}
.nav {
    display: flex;
    background-color: #2175c4;
    height: 70px;
    align-items: center;
}
h1 {
    margin-left: 16px;
    background-color: transparent;
    float: left;
}
main {
    margin: 1% 18% 0% 1%;
}
#tocPanel {
    width: 18%;
    border-right: 1px solid #2175c4;
    float: left;
}
#tocPanel ul {
    list-style-type: none;
    padding-left: 5%;
}
#tocPanel li {
    margin-top: 1%;
}
#tocPanel a {
    text-decoration: none;
    color: gainsboro;
}
#tocPanel a:hover {
    color: #2175c4
}
#mainForm {
    display: inline;
    float: left;
    margin-left: 5%;
}
.inputTable {
    border: 1px 0px 1px 0px solid gainsboro;
    font-size: 16px;
}
.inputTable tr {

}
.inputTable {
    border-collapse: collapse;
    margin: 16px 0px 16px 0px;
}
.inputTable td,
.inputTable th {
    border: 1px solid gainsboro;
    padding: 6px;
}
.inputTable tr:first-child th {
    border-top: 0;
}
.inputTable tr:last-child td {
    border-bottom: 0;
}
.inputTable tr td:first-child,
.inputTable tr th:first-child {
    border-left: 0;
}
.inputTable tr td:last-child,
.inputTable tr th:last-child {
    border-right: 0;
}
.comboBox {
    font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.checkBox {
    border-radius: 3px;
    font-size: 16px;
}