body {
    background-color: #31a169;
    color: gainsboro;
    font-family: sans-serif;
    margin: 0px;
}
nav {
    background-color: #11442c;
    height: 50px;
}
.nav-icon {
    height: 100%;
    width: 16%;
    font-size: 24px;
    text-align: center;
    align-items: center;
    padding-left: 6px;
    display: flex;
    float: left;
}
.nav-button {
    display: flex;
    float: left;
    height: 100%;
    background-color: transparent;
    color: gainsboro;
    font-size: 18px;
    padding: 6px;
    border: 0px;
}
.nav-button:hover {
    background-color: #2c4b3c;
}
.sub-nav {
    padding-left: 18%;
    height: 35px;
    background-color: lightgray;
}
.sub-nav-button {
    display: flex;
    float: left;
    height: 100%;
    background-color: transparent;
    color: #11442c;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}
.sub-nav-button:hover {
    background-color: lightslategray;
}
main {
    padding-left: 18%;
    padding-right: 18%;
    height: 100%;
    display: flex;
}
.spacer {
    width: 25%;
    height: 100%;
}